/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    background: black;
}

p {
    color: bisque;;
}

h1 {
    color: orangered;
}
label, strong {
    color: orange;
}